<div id="transferModal" class="backdrop">
    <form [formGroup]="form" (ngSubmit)="submit()" class="modal-content" id="updateForm">
        <div class="modal-header">
            <span class="modal-title">Make Transfer</span>
        </div>

        <label>From</label>
            <select formControlName="fromAccountId">
                <option *ngFor="let account of accountIds" [value]="account">{{account}}</option>
            </select>
        <div class="modal-fields">
            <input matInput formControlName="amount" placeholder="Amount" class="modal-input">
        </div>
        <label>To</label>
            <select formControlName="toAccountId">
                <option *ngFor="let account of accountIds" [value]="account">{{account}}</option>
            </select>
        <div class="modal-btns">
            <button class="cancel-button" id="closeModalBtn" type="button" mat-button (click)="close()">Cancel</button>
            <button class="add-button" mat-button type="submit">Confirm</button>
        </div>
    </form>
</div>
