<div class="section-wrapper">
    <div class="section-box">
        <div class="section-header">
            <div class="section-header-group">
                <span class="section-title">Accounts</span>
            </div>
            <div class="section-header-group">
                <form (ngSubmit)="onSubmit()" class="search-container">
                    <div class="search-functions">
                        <div class="search-criteria">
                            <span>Filter By:</span>
                            <label>
                                <input type="radio" [(ngModel)]="selectedFilter" (change)="updatePlaceholder($event)" name="searchFilter" value="ID" required checked>
                                ID
                            </label>
                            <label>
                                <input type="radio" [(ngModel)]="selectedFilter" (change)="updatePlaceholder($event)" name="searchFilter" value="City" required>
                                City
                            </label>
                        </div>
                        <mat-icon class="reset-icon" (click)="clearSearch()">rotate_left</mat-icon>
                    </div>
                    <div class="searchbar">
                        <input type="text" [(ngModel)]="searchQuery" name="searchQuery" [placeholder]="placeholder" class="searchfield" required>
                        <button type="submit" class="search-button">Search</button>
                    </div>
                </form>
            </div>
            <div class="section-header-group">
                <button id="openModalBtn" class="add-button" mat-button (click)="openCreateAccountModal()">Create New Account<i class="material-icons">add_card</i></button>
            </div>
        </div>
        <table class="section-table">
            <thead>
                <tr>
                    <th>Account #</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th class="extra">Interest Rate</th>
                    <th class="extra">Check #</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="item-row" *ngFor="let account of accounts">
                    <td>{{account.accountId}}</td>
                    <td>{{account.type}}</td>
                    <td>{{account.balance | currency}}</td>
                    <td class="extra">{{account.interestRate | percent}}</td>
                    <td class="extra">{{account.nextCheckNumber}}</td>
                    <td class="item-buttons">
                        <button class="table-button" mat-button (click)="openTransactionModal(account.accountId)">Transaction</button>
                        <button class="table-button" (click)="deleteAccount(account.accountId)" style="--button-text: white; 
                        --button-color: #f0235a;
                        --button-border: none;">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>